<%authorized? %>

<div class="list-group">
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading"><strong><%= @stock.name %></strong></h4>
    <p class="list-group-item-text">Company Name : <%= @stock_obj.company_name  %></p>
    <p class="list-group-item-text"><%= @stock_obj.latest_time  %></p>
  </a>
</div><br>

<div class="progress">
  <div class="progress-bar" role="progressbar"  aria-valuemin="0" aria-valuemax="100" style="width: <%= @stock_obj.pe_ratio * 2 %>%;">
  <strong>Profit Earning Ratio  <%= @stock_obj.pe_ratio %>% </strong>
  </div>
</div>

<ul class="list-group">
  <li class="list-group-item" style="
    max-width: 50rem">
    <span class="badge"><%= @stock_obj.primary_exchange %></span>
    Exchange :
  </li>
  <li class="list-group-item" style="
    max-width: 50rem">
    <span class="badge"><%= number_to_currency(@stock_obj.latest_price) %></span>
    Price :
  </li>
  <li class="list-group-item" style="
    max-width: 50rem">
    <span class="badge"><%= number_to_currency(@stock_obj.market_cap) %></span>
    Market Cap :
  </li>
  <li class="list-group-item" style="
    max-width: 50rem">
    <span class="badge"><%= number_to_currency(@stock_obj.change_percent) %></span>
    Change :
  </li>
</ul>
<!-- <h1>Stock Info ....</h1>

<ul>
  <li>Company Name: <%= @stock_obj.company_name %></li>
  <li>Exchange : <%= @stock_obj.primary_exchange %></li>
  <li>Price : <%= "$" + @stock_obj.latest_price.to_s %></li>
  <li>Market Cap : <%= "$" + @stock_obj.market_cap.to_s %></li>
  <li>Percentage Change : <%= "$" + @stock_obj.change_percent.to_s %></li>
  <li>Year's Change : <%= @stock_obj.ytd_change %></li>
</ul> -->
