<% @brokers.each do |b| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="<%= asset_path (b.img)%>" alt="...">
      <div class="caption">
        <h3><%= b.fund_name %></h3>
        <p><%= "This fund is managed by #{b.name}."%></p>
        <p>
          <a
            href="<%= broker_path(b.id)%>"
            class="btn btn-primary"
            role="button"
          >
            Details
          </a>
          <% if logged_in? %>
            <%= form_tag "/users/#{current_user.id}/update_broker_id/#{b.id}", method: "post" do %>
              <%= submit_tag 'Select broker' %>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
<% end %>
