<%authorized? %>



<h3><%= @broker.fund_name %> <span class="label label-default"><%=@broker.name %></span></h3><br>

<% avg = @broker.average %>
<div class="progress">
  <div class="progress-bar" role="progressbar"  aria-valuemin="0" aria-valuemax="100" style="width: <%= avg %>%;">
  <strong>Profit Earning Ratio  <%= avg %>% </strong>
  </div>
</div>



<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Holdings</div><br>

  <!-- Table -->
  <% @broker.stocks.each do |s| %>

  <table class="table">
   <li><strong> <%= link_to s.name, stock_path(s.id) %> </strong></li>

 </table>

 <hr>
<% end %>
</div>
